.latest-notification {
  @include themed() {
    border: 1px solid t(notification-border);
    background: t(notification-bg);
    color: t(notification-txt);
  }
  border-radius: 8px;
  padding: 8px 12px;
}
